/* +-------------------------------------+ */
/* | Import Nunito Sans font from google | */
/* +-------------------------------------+ */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	transition: all 0.3s;
}

html {
	font-size: 16px;
}

i,
button {
	font-weight: 400;
}

button:focus {
	outline: none !important;
}

h2 {
	font-weight: 800;
}

h5 {
	font-weight: 700;
}

a,
a:hover {
	color: #424242;
	text-decoration: none;
}

/* Background */
.s-bg-wave {
	background: #f5f5f5 url('../img/bg-waveline.png') no-repeat center bottom;
	background-size: 100%;
}

/* +---------+ */
/* | Buttons | */
/* +---------+ */
.s-btn-green {
	border: 1px solid #8eaf04;
	background-color: #8eaf04;
}

.s-btn-grey {
	border: 1px solid #424242;
	background-color: #424242;
}

.sentie-btn-grey:hover {
	filter: brightness(1.4) !important;
}

.s-btn-primary {
	min-width: 160px;
	padding: 0.5rem;
	border-radius: 8px;
	color: white !important;
	font-weight: 300 !important;
	cursor: pointer;
}

.s-btn-primary:hover {
	filter: brightness(1.1);
}

.s-btn-secondary {
	min-width: 160px;
	padding: 0.5rem;
	border: 1px solid #424242;
	border-radius: 8px;
}

.s-btn-secondary:hover {
	filter: brightness(0.9);
}

.s-btn-cancel {
	border: none;
	color: #9e9e9e;
	background-color: rgba(0, 0, 0, 0);
}

.s-btn-cancel:hover {
	color: #424242;
}

/* Override material icons reansition delay */
.material-icons {
	transition: all 0s;
}

@media (max-width: 490px) {
	/* Stack More Info button and Demo App Code button vertically */
	.demo-app-btn-container {
		flex-direction: column !important;
	}
}

/* +--------------+ */
/* |  Scroll Bar  | */
/* +--------------+ */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* +-----------+ */
/* |  Corners  | */
/* +-----------+ */
.s-rounded-bottom-lg {
	border-radius: 0 0 0.3rem 0.3rem !important;
}
.s-rounded-top-lg {
	border-radius: 0.3rem 0.3rem 0 0 !important;
}

/* +----------+ */
/* |  Cursor  | */
/* +----------+ */
.cursor-pointer {
	cursor: pointer;
}

/* +--------------------+ */
/* | Full Screen Loader | */
/* +--------------------+ */
.s-full-screen-loader {
	position: fixed;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(2px);
}

/* +----------------+ */
/* |  Img Uploader  | */
/* +----------------+ */
#s-img-uploader {
	max-width: 480px;
	border: 2px dashed #ccc;
	border-radius: 16px;
	background: rgba(142, 175, 4, 0);
}
#s-img-uploader i {
	font-size: 100px;
	color: #8eaf04;
	opacity: 30%;
}
#s-img-uploader input {
	display: none;
}
/*.highlight will be added when user drag file above uploader area*/
#s-img-uploader.highlight {
	border-color: #8eaf04;
	background: rgba(142, 175, 4, 0.05);
}
#s-img-uploader.highlight i {
	opacity: 100%;
}

#s-img-preview canvas {
	margin: auto;
	display: block;
	box-sizing: border-box;
	border: 10px white solid;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Make canvas responsive */
#s-img-preview canvas {
	max-width: 100%;
	height: auto;
}

/* +-----------------+ */
/* |  ImageNarration | */
/* +-----------------+ */
.s-img-narration-description {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 10px white solid;
	color: white;
	background-color: rgba(0, 0, 0, 0.35);
}

.s-img-narration-description p {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.audio-play-icon {
	font-size: 60px !important;
	color: rgba(255, 255, 255, 0.6);
}

.audio-play-icon:hover {
	color: rgba(255, 255, 255, 0.8);
}

.audio-container {
	position: relative;
	top: 55%;
	text-align: center;
}

#audio-play-text {
	margin-top: 42px !important;
}

#audioProcessingLoader {
	position: relative;
	top: 50%;
}

@media (max-width: 490px) {
	.s-img-narration-description p {
		top: 10%;
	}
	.audio-container {
		top: calc(100% - 60px);
	}
	.audio-play-icon {
		font-size: 30px !important;
	}
	#audio-play-text {
		margin-top: 22px !important;
	}
	#audioProcessingLoader {
		top: 20%;
	}
}
