#picture-loader {
	background-color: rgba(000, 000, 000, 0.5);
	color: white;
}

#narration-result-container {
	background-color: rgba(000, 000, 000, 0.5);
	color: white;
}

#openCameraCardBtn:hover {
	box-shadow: 0 0.5rem 1rem rgba(149, 174, 54, 0.5) !important;
	cursor: pointer;
}

#openCameraCardBtn:hover i {
	color: #b5ce56 !important;
}

#openCameraCardBtn:hover .icon-bg {
	background-color: #f5fdd3 !important;
}

#uploadPicCardBtn:hover {
	box-shadow: 0 0.5rem 1rem rgba(183, 141, 81, 0.5) !important;
	cursor: pointer;
}

#uploadPicCardBtn:hover i {
	color: #dea656 !important;
}

#uploadPicCardBtn:hover .icon-bg {
	background-color: #fff2de !important;
}

#cancelBtn {
	margin-top: 12px;
	position: absolute;
}

#snapPicBtn {
	width: 100%;
	max-width: 300px;
}

#reSnapPicBtn {
	width: 100%;
	max-width: 300px;
}

@media (max-width: 430px) {
	#header-container-r,
	#demo-app-functions {
		flex-direction: column !important;
	}

	#demo-app-functions > div {
		max-width: 100% !important;
	}

	#control-btns-container {
		flex-direction: column-reverse !important;
	}

	#cancelBtn {
		margin: 20px auto;
		position: inherit;
	}
}
