/***************************************/
/* Import Nunito Sans font from google */
/***************************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Nunito Sans', sans-serif;
	transition: all 0.3s;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

a {
	color: #cbac81;
	text-decoration: underline;
}
a:hover {
	color: #96774b;
}

i,
button {
	font-weight: 400;
}

button:focus {
	outline: none !important;
}

h2 {
	font-weight: 800;
}

h5 {
	font-weight: 700;
}

/* Background */
.bg-wave-pattern {
	background: #f5f5f5 url('../img/bg-waveline.png') no-repeat center bottom;
	background-size: 100%;
}

/* Buttons */
.sentie-btn-green {
	border: 1px solid #8eaf04;
	background-color: #8eaf04;
}

.sentie-btn-grey {
	border: 1px solid #424242;
	background-color: #424242;
}

.sentie-btn-grey:hover {
	filter: brightness(1.4) !important;
}

.sentie-btn-primary {
	padding: 0.5rem;
	color: white;
	border-radius: 8px;
	font-weight: 300 !important;
	text-decoration: none;
}

.sentie-btn-primary:hover {
	filter: brightness(1.1);
	text-decoration: none;
	color: white;
}

.sentie-btn-seconday {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid #424242;
	color: #424242;
	text-decoration: none;
}

.sentie-btn-seconday:hover {
	filter: brightness(0.9);
	color: #424242;
	text-decoration: none;
}

.sentie-card-btn {
	padding: 1rem;
	border-radius: 16px;
	background-color: white;
}

.sentie-card-btn p {
	margin: 2rem auto;
	font-size: 1rem;
	color: #848484;
	max-width: 240px;
}

@media (max-width: 576px) {
	.bg-wave-pattern {
		background-position: 10% bottom;
		background-size: 200%;
	}
}

/***********************/
/* Single Pic Uploader */
/***********************/
#single-pic-uploader {
	max-width: 480px;
	border: 2px dashed #ccc;
	border-radius: 16px;
	background: rgba(142, 175, 4, 0);
}
#single-pic-uploader i {
	font-size: 100px;
	color: #8eaf04;
	opacity: 30%;
}
#single-pic-uploader input {
	display: none;
}
/*.highlight will be added when user drag file above uploader area*/
#single-pic-uploader.highlight {
	border-color: #8eaf04;
	background: rgba(142, 175, 4, 0.05);
}
#single-pic-uploader.highlight i {
	opacity: 100%;
}
#single-pic-preview img {
	margin: auto;
	max-height: 60vh;
	max-width: 100%;
	display: block;
	box-sizing: border-box;
	border: 10px white solid;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Latest Update 2020-Oct-09 */
